* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #333, #555);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
}
.image {
  width: 22%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 10px;
  cursor: pointer;
}
.image:hover img {
  transform: scale(1.2);
}
.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.close {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 35px;
}
.control {
  font-size: 35px;
  position: absolute;
}
.control.prev {
  left: 15px;
}
.control.next {
  right: 15px;
}
.gallery__inner {
  width: 70%;
  height: 70%;
  margin: auto;
}
